    body {
        margin: 0px;
        padding: 0px;
      font-family: Arial, sans-serif;
    }

    /* Hero Section */
    .hero {
      background: url('https://images.unsplash.com/photo-1501785888041-af3ef285b470') center/cover no-repeat;
      height: 80vh;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-align: center;
    }

    .hero h1 {
      font-size: 4rem;
      letter-spacing: 3px;
    }

    .section-bg {
      background: url('https://images.unsplash.com/photo-1500530855697-b586d89ba3ee') center/cover no-repeat;
      color: white;
    }

        .section-bg1 {
      background: url('./sun-sets-behind-mountain-ranges-600nw-2479236003.webp') center/cover no-repeat;
      color: white;
    }

    .overlay {
      background: rgba(0,0,0,0.6);
      padding: 60px 0;
    }



.form1{
    opacity: 50%;
}

